*{
	box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(living.jpg);
  background-size: 700px;
}

h1 {
text-align: left;
margin: 0px 
}
/*.move { 
	display: flex;
	align-content: column-reverse;
	margin: 50px;
}*/
.navbar ul{
	display: flex;
	justify-content: center;
}
.in {
	list-style: none;
	display: inline-block;
	padding:10px 10px;
	background-color: rgba(54, 71, 148, 0.1);
}
.stranger {
	/*margin: 200px 30px 30px 600px;*/
	display: flex;
	justify-content: center;
	margin-top: 200px;
	
}
.btn-primary {
	background-color: rgb(16, 31, 99);
}
.btn-primary:hover{
	background-color: rgb(128, 130, 141);
}

